{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
  <body style="background-color:mintcream;">
        <h2> {{ user.username }}'s Fan Zone</h2>
    <hr>
      <div>
          <img src="/media/images/profile/Johan-Cruyffs.jpeg" style="min-width: 300px; max-width: 800px; overflow: auto; width: 100%;">
      <div/>
        <hr>
        {% if committed_a_bet %}
              <h3>Quick Access</h3>
                 <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <a href="{% url 'predictions' %}"><button type="button" class="btn btn-outline-dark">Your Predictions</button></a>
                    <button type="button" class="btn btn-outline-dark" disabled>League Stats</button></a>
                </div>
            <hr>
      {% endif %}
  <div>
  {% if committed_a_bet %}
      <div>
          <h3>League Table</h3>
          {% for key, obj in league_member_points.items %}
                <p>{{ key }}</p>
              <hr>
              <div>
                  <table class="styled-table" style="width: 100%; height: 100%; text-align: center">
                        <thead>
                            <tr style="text-align: center">
                                <th>#</th>
                                <th>User</th>
                                <th>Games</th>
                                <th>Points</th>
                                <th>Booms</th>
                                <th>Winners</th>
                                <th>Success</th>
                                <th>B-Goals</th>
                            </tr>
                        <thead/>
                        <tbody>
                          {% for item in obj %}
                              {% if forloop.counter == 1 %}
                                    <tr class="active-row">
                                      <th>{{ item.8 }}</th>
                                      <td>{{ item.0 }}</td>
                                      <td>{{ item.1 }}</td>
                                      <td>{{ item.2 }}</td>
                                      <td>{{ item.3 }}</td>
                                      <td>{{ item.4 }}</td>
                                      <td>{{ item.5 }}</td>
                                      <td>{{ item.6 }}</td>
                                  </tr>
                              {% else %}
                                  <tr>
                                      <th>{{ item.8 }}</th>
                                      <td>{{ item.0}}</td>
                                      <td>{{ item.1 }}</td>
                                      <td>{{ item.2 }}</td>
                                      <td>{{ item.3 }}</td>
                                      <td>{{ item.4 }}</td>
                                      <td>{{ item.5 }}</td>
                                      <td>{{ item.6 }}</td>
                                  </tr>
                              {% endif %}
                          {% endfor %}
                        </tbody>
                  </table>
                </div>
        {% endfor %}
      </div>
      <hr>
  {% endif %}
      <h3>Onboarding Check List</h3>
          {% if league_signup %}
              <p style="color:darkgreen;">
                  1. Join a league.
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-square" viewBox="0 0 16 16">
                      <path d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z"/>
                      <path d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
                  </svg>
              <p/>
          {% else %}
             <p style="color:tomato;">
                 1. Join a league.
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard-x" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M6.146 7.146a.5.5 0 0 1 .708 0L8 8.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 9l1.147 1.146a.5.5 0 0 1-.708.708L8 9.707l-1.146 1.147a.5.5 0 0 1-.708-.708L7.293 9 6.146 7.854a.5.5 0 0 1 0-.708z"/>
                  <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                  <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
              </svg>
          <p/>
          {% endif %}
          {% if committed_a_bet %}
            <p style="color:darkgreen;">2. Add your group stage bets.
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-square" viewBox="0 0 16 16">
                  <path d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z"/>
                  <path d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
              </svg><p/>
          {% else %}
             <p style="color:tomato;">2. Add your group stage bets.
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard-x" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M6.146 7.146a.5.5 0 0 1 .708 0L8 8.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 9l1.147 1.146a.5.5 0 0 1-.708.708L8 9.707l-1.146 1.147a.5.5 0 0 1-.708-.708L7.293 9 6.146 7.854a.5.5 0 0 1 0-.708z"/>
                  <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                  <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
              </svg><p/>
          {% endif %}
             {% if image_uploaded %}
              <p style="color:darkgreen;">
                  3. Upload your image.
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-square" viewBox="0 0 16 16">
                      <path d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z"/>
                      <path d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
                  </svg>
              <p/>
          {% else %}
             <p style="color:tomato;">
                 3. Upload your image.
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard-x" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M6.146 7.146a.5.5 0 0 1 .708 0L8 8.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 9l1.147 1.146a.5.5 0 0 1-.708.708L8 9.707l-1.146 1.147a.5.5 0 0 1-.708-.708L7.293 9 6.146 7.854a.5.5 0 0 1 0-.708z"/>
                  <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                  <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
              </svg>
          <p/>
          {% endif %}
  </div>
  <hr>
{% if committed_a_bet %}
      <h3>Second Thoughts?</h3>
          <p>You can easily <a href= {% url 'update_your_bet' bet_id %} > edit your bet form.</a></p>
      * Available until 06-10-2021 23:59
      <hr>
{% endif %}

  <style>
    .styled-table {
        border-collapse: collapse;
        margin: 20px 0;
        font-size: 0.9em;
        font-family: sans-serif;
        min-width: 350px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }

    .styled-table thead tr {
        background-color: #009879;
        color: #ffffff;
        text-align: left;
    }

    .styled-table th,
    .styled-table td {
        padding: 12px 15px;
    }

    .styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
    }

    .styled-table tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }

    .styled-table tbody tr:last-of-type {
        border-bottom: 2px solid #009879;
    }

    .styled-table tbody tr.active-row {
        font-weight: bold;
        color: #009879;
    }

    .dp-styled-img {
      height: 40px;
      width: 40px;
    }

  </style>

    <style>
    .styled-table {
        border-collapse: collapse;
        margin: 20px 0;
        font-size: 0.5em;
        font-family: sans-serif;
        min-width: 300px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }

    .styled-table thead tr {
        background-color: #DE3163;
        color: #ffffff;
        text-align: left;
    }

    .styled-table th,
    .styled-table td {
        padding: 2px 3px;
    }

    .styled-table tbody tr {
        border-bottom: 1px solid #dddddd;
    }

    .styled-table tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }

    .styled-table tbody tr:last-of-type {
        border-bottom: 1px solid #090f18;
    }

    .styled-table tbody tr:first-of-type {
        border-bottom: 1px solid #DE3163;
    }

    .styled-table tbody tr.active-row {
        font-weight: bold;
        color: #090f18;
    }

    .dp-styled-img {
      height: 35px;
      width: 35px;
      border-radius: 50%;
    }

  </style>

    {% if league_signup %}
        <h3>League Members</h3>
        <p> The following users have been already signed up to your league: <p/>
          {% for key, obj in league_members.items %}
              <p>{{ key }}</p>
              <hr>
              <div>
              <center>
                  <table class="styled-table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Image</th>
                                <th>Name</th>
                            </tr>
                        <thead/>
                        <tbody>
                          {% for item in obj %}
                              {% if forloop.counter == 1 %}
                                  <tr class="active-row">
                                     <td>{{ forloop.counter	}}</td>
                                      <td><img class="dp-styled-img" src="{{ item.1 }}"></td>
                                     <td>{{ item.0 }}</td>
                                  </tr>
                              {% else %}
                              <tr>
                                 <td>{{ forloop.counter	 }}</td>
                                  <td><img class="dp-styled-img" src="{{ item.1}}"></td>
                                  <td>{{ item.0 }}</td>
                              </tr>
                              {% endif %}
                          {% endfor %}
                        </tbody>
                  </table>
              </center>
                </div>
        {% endfor %}
    {% endif %}
  </body>
{% else %}
    <div>
        <h3>Welcome Home Dear Friend!</h3>
        <h6>Euro 2021 - Friends Zone Platform.</h6>
        <p>For quick start, the following steps need to be taken:</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">1. Register.</li>
          <li class="list-group-item">2. Login with your user credentials.</li>
          <li class="list-group-item">3. Get your private league name.</li>
          <li class="list-group-item">4. Join a league (via the setup tab).</li>
          <li class="list-group-item">5. Place your group-stage bets.</li>
        </ul>
        <br/>
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            <a href="{% url 'register' %}"><button type="button" class="btn btn-danger">Register</button></a>
            <a href="{% url 'login' %}"><button type="button" class="btn btn-warning">Login</button></a>
        </div>
        <p></p>
    </div>
{% endif %}

{% endblock %}