{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
  <body>
  <h1>Welcome {{ user.username }}</h1>
  <p> The following users already signed up: <p/>
  {% for item in teams %}
            <img src="{{ item }}" class="rounded" alt="..." width="50" height="50">
  {% endfor %}
  <br/>
  <br/>
  <div>
      <table class="table">
            <thead>
                <tr>
                <th class="table-warning" scope="col">#</th>
                <th class="table-warning" scope="col">Name</th>
                <th class="table-warning" scope="col">League</th>
               </tr>
          <thead/>
            <tbody>
            <tr>
                  {% for league_user in league_users %}
                     <td scope="row">{{ forloop.counter	 }}</td>
                     <td scope="row">{{ league_user.user_name }}</td>
                     <td scope="row">{{ league_user.league_name }}</td>
                  {% endfor %}
            </tr>
            </tbody>
      </table>
    </div>
  </body>
{% else %}
    <div>
        <h3>Welcome Home Dear Friend!</h3>
        <h6>Euro 2021 - Friends Zone Platform.</h6>
        <br/>
        <p>For quick start, please follow the following steps:</p>
        <ul class="list-group">
          <li class="list-group-item">1. Register</li>
          <li class="list-group-item">2. Login with your user credentials</li>
          <li class="list-group-item">3. Create a new league (if required)</li>
          <li class="list-group-item">4. Get your league name.</li>
          <li class="list-group-item">5. Join your league (via setup tab)</li>
        </ul>
        <br/>
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            <a href="{% url 'register' %}"><button type="button" class="btn btn-danger">Register</button></a>
            <a href="{% url 'login' %}"><button type="button" class="btn btn-warning">Login</button></a>
        </div>
        <p></p>
    </div>
{% endif %}

{% endblock %}