{% extends 'base.html' %}

{% block content %}
<html>
    <body>
  {% for item in fixtures %}
      <div class="card text-dark bg-warning mb-3" style="max-width: 18rem;">
          <div class="card-header">
                    {{ item.0 }} - {{ item.2 }}
          </div>
          <div class="card-body">
            <p class="card-text">
                    <img src="{{ item.1 }}" class="rounded float-start" alt="..." width="80" height="80">
                    <img src="{{ item.3 }}" class="rounded float-end" alt="..." width="80" height="80">
            </p>
          </div>
      </div>
  {% endfor %}
{#    {% for local_name in logos %}#}
{#    <div class="card" style="width: 10rem;">#}
{#  <img src="{{local_name}}" class="card-img-top">#}
{#  <div class="card-body">#}
{#    <p class="card-text">Image.</p>#}
{#  </div>#}
{#</div>#}
{#  {% endfor %}#}
    </body>
</html>

{% endblock %}